.announcementCard {
  border-radius: 8px;
  border: 1px solid rgba(219, 219, 219, 0.7);
  background: var(--White, #fff);
  box-shadow: 0 9.628px 48.14px 0 rgba(139, 139, 139, 0.1);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.announcementTop {
  border-radius: 15px;
  background: rgba(229, 247, 255, 0.4);
  padding: 3px 4px;
  width: max-content;
}
.announcementTop > h5 {
  color: var(--Blue, #33b5f6);
  font-size: var(--fs12);
  font-weight: 600;
}
.announcementCardBody > h5 {
  color: var(--Black, #172a33);
  font-size: var(--fs17);
  font-weight: 700;
}
.announcementCardBody > p {
  color: var(--Dark-gray, #8c939b);
  font-size: var(--fs12);
  font-weight: 400;
  line-height: 140%;
}

.announcementCardBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.announcementCardParent {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 328px;
  overflow-y: scroll;
  min-height: 399px;
}
.arrowMain {
  border: 1px solid var(--Blue, #33b5f6);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcementCardFull {
  display: flex;
  justify-content: space-between;
}
.announcementCardParent::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1025px) {
  .announcementCardParent {
    min-height: 408px;
  }
}
@media (max-width: 991px) {
  .announcementCardParent {
    min-height: 100%;
  }
}
@media (max-width: 600px) {
  .announcementCardParent {
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
    min-height: unset;
  }
}
