.wrap {
  display: flex;
  flex-direction: column;
}
.title {
  color: var(--Black);
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
}
.card {
  display: flex;
  width: 100%;
  min-width: 327px;
  height: 351px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  background: var(--Poor-white);
  box-shadow: 0 9.628px 48.14px 0 rgba(139, 139, 139, 0.1);
}

.cal {
  width: 100%;
  background: var(--Poor-white);
  border: 0;
  border-radius: 12px;
  padding: 6px 6px 10px 6px;
}

.reactCalendarActive {
  pointer-events: auto;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid var(--Green);
  background: transparent;
  display: inline-block;
  margin: 0 2px;
}
.unavailable {
  border-color: var(--Red);
}
.available {
  border-color: var(--Green);
}

@media (max-width: 414px) {
  .card {
    min-width: unset;
  }
}
