.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block: 40px;
}

.incidentReportsMain {
  width: 100%;
}

@media (max-width: 576px) {
  .TopHeader{
    margin-top: 32px;
  }
}